<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries> <!-- Add queries for open privacy policy -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="http" />
        </intent>
    </queries>

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/piano_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/piano_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.GPiano"
        tools:targetApi="31">
        <activity
            android:name=".ui.activities.GenreMusicActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.FavouriteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ThemePianoActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            tools:ignore="DiscouragedApi" />
        <activity
            android:name=".ui.activities.DrumActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            tools:ignore="DiscouragedApi" />
        <activity
            android:name=".ui.activities.IntroActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".ui.activities.language.LanguageActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".ui.activities.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".ui.activities.PlayListActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            tools:ignore="DiscouragedApi" />
        <activity
            android:name=".ui.activities.DoubleKeyActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            tools:ignore="DiscouragedApi" />
        <activity
            android:name=".ui.activities.MainPianoActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            tools:ignore="DiscouragedApi" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".ui.activities.OpenActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.Starting"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>